[package]
name = "utils"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.78"
bincode = "1.3.3"
once_cell = "1.19.0"
serde = "1.0.193"
sled = "0.34.7"
