@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  background: url(./assets/overlay.png) repeat;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  height: 4px;
  background-color: white;
}

::-webkit-scrollbar-corner {
  display: none;
}
